// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

$white     : #fff;
$bg        : #e7e8ea;
$bodytext  : #27282a;
$red       : #c53c37;
$yellow    : #ddce00;
$blue      : #006f8e;
$lt-blue   : #66b0c4;
$green     : #009999;
$gray      : #77787a;
$lt-gray   : #c3c4c8;
$link      : $blue;

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
  background: $bodytext;
  color: $white;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.375em;
}

main {
  background: $bg;
  color: $bodytext;
  padding: 15px;
  padding-bottom: 3rem;
}

input { font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif; }

a {
  text-decoration: none;
  color: $link;
}

p {
  margin-bottom: 1.375em;
}

img { max-width: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: .8125rem;
  td, th {
    padding: 0 15px;
    text-align: left;
    vertical-align: text-top;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }
}

input[type="checkbox"] {
  @extend .visually-hidden;

  & + label:before {
    content: "\f00c";
    width: 1.375rem; height: 1.375rem;
    background: $lt-gray;
    color: transparent;
    display: inline-block;
    border-radius: 2px;
    border: 2px solid $lt-gray;
    position: relative;
    font-family: 'FontAwesome';
    font-size: 1.125rem;
    text-align: center;
    margin-right: .375rem;
    padding-left: .063rem;
    line-height: 1.25rem;
  }
  &:focus + label:before {
    border-color: $blue;
  }
  & + label:hover:before {
    color: rgba(0,111,142,.2);
  }
  &:checked + label:before {
    color: $blue;
  }
}

label {
  white-space: nowrap;
}

@import "vendor/chosen";

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

section { margin: 1em 0; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  margin: 0 -15px;
  > * {
    padding: 15px;
    float: left;
    &:last-child { float: right; }
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.mobile-col-1 {
  @media screen and (max-width: 767px) {
    width: 100% !important;
  }
}

.mobile-col-2 {
  @media screen and (max-width: 767px) {
    width: 50% !important;
  }
  @media screen and (max-width: 479px) {
    width: 100% !important;
  }
}

.card {
  background: $white;
  border-radius: 2px;
  padding: 15px;
  overflow: hidden;
}

.img-card {
  position: relative;
  padding: 0px;
  line-height: 0;
  img { width: 100%; }
}

div.placeholder {
  text-align: center;
  font-weight: 700;
  color: $gray;
  position: absolute;
  top: 50%; left: 0; right: 0; bottom: 0;
  text-transform: uppercase;
}

header, footer {
  background: $bodytext;
  color: $white;
}

header a { color: $yellow; }

footer a {
  color: $white;
  text-decoration: underline;
}

.logo {
  display: inline-block;
  padding: 16px 1px 12px;

  h1 { @extend .visually-hidden; }
  img { max-height: 66px; }
}

#introduction {
  p {
    font-size: 1.125rem;
  }
  .row > * { @extend .mobile-col-1; }
}

.intro-text { width: 60%; }

.quick-links {
  margin-top: -15px;
  width: 40%;
  line-height: 1.375em;
  ul { padding: 0; }
  li { list-style: none; }
}

#index-view {
  font-size: .8125rem;

  .controls {
    > * { float: left; }
  }

  .filters > * {
    margin-right: .75rem;
    margin-bottom: .5rem;
  }

  &.active .search-bar input, .search-bar.text-entered input, .search-bar input:focus {
    width: 17rem;
    padding-right: 2.06rem;
  }

  &.active .search-bar input, .search-bar.text-entered input {
    background: $lt-gray;
    border-color: $lt-gray;
    color: $bodytext;

    + .search-icon:after {
      color: $gray;
    }
  }

  .search-bar {
    float: right;
    position: relative;
    margin-bottom: .5rem;
    font-size: 1rem;

    input {
      width: 6.25rem;
      height: 33px;
      padding: 0;
      padding-left: 2.06rem;
      outline: 0;
      border: 2px solid $link;
      background: $link;
      color: $white;
      border-radius: 2px;
      transition: width 500ms;
      position: relative;

      &:focus {
        background: $white;
        border-color: $link;
        color: $bodytext;

        + .search-icon:after {
          color: $link;
        }
      }
    }

    .search-icon {
      position: absolute;
      left: .675rem;
      top: .325rem;

      &:after {
        font-family: 'FontAwesome';
        content: "\f002";
        color: $white;
        color: rgba(255,255,255,.5);
      }
    }

    .clear-search {
      display: none;
      position: absolute;
      right: .675rem;
      top: .325rem;
      padding: 0;
      background: none;
      border: 0;
      outline: 0;
      width: .825rem;
      height: 1.5rem;
      overflow: hidden;
      cursor: pointer;

      &:before {
        font-family: 'FontAwesome';
        content: "\f00d";
        color: $gray;
      }

      &:hover:before, &:focus:before {
        color: $link;
      }
    }

    &.text-entered .clear-search {
      display: block;
    }
  }

  tr { cursor: pointer; }

  td a { color: inherit; }

  th.percent { width: 25%; }

  td.percent {
    position: relative;
    .bar-label {
      display: inline-block;
      width: 32px;
      text-align: right;
    }
    .bar-wrapper {
      position: absolute;
      left: 50px; right: 15px;
      top: 11px;
      height: 11px;
      background: $lt-blue;
      border-radius: 12px;
      border: 1px solid $bg;
      overflow: hidden;
    }
    .bar {
      height: 100%;
      background: $blue;
    }
  }

  td.completion {
    color: $green;
    &.inactive { color: $red; }
  }

  tbody tr {
    border: 1px solid $lt-gray;
    &:nth-child(even) {
      background: #f1f2f3;
      td.percent .bar-wrapper { border-color: #f1f2f3; }
    }
    &:hover {
      background: $blue;
      border-color: $blue;
      color: $white;
      td.completion { color: $white; }
      td.percent .bar-wrapper { border-color: $white; }
    }
  }
  td, th {
    line-height: 1em;
    padding: 10px 15px;
  }
}

#detail-view {
}

.project-snapshot {
  width: 20%;
  @extend .mobile-col-2;
}

.project-map {
  width: 30%;
  @extend .mobile-col-2;
  position: relative;
  @media screen and (min-width: 768px) { left: 50%; }
  > .card {
    position: relative;
    &:after {
      padding-top: 80.137%;
      display: block;
      content: "";
    }
    div.map {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}

.project-summary {
    width: 50%;
    @extend .mobile-col-1;
    position: relative;
    @media screen and (min-width: 768px) { right: 30%; }

    > div.card {
        min-height: 264px;
    }
}

.project-status {
  span {
    display: block;
    line-height: 1rem;
    padding-left: 1.5rem;
  }
  .project-is-active {
    font-weight: 700;
    padding-top: 1.25rem;
    color: $green;
    position: relative;
    &:before {
      display: block;
      position: absolute;
      width: 1.25rem; height: 1.25rem;
      left: -1px; top: 1.125rem;
      border-radius: 100px;
      background: $green;
      content: "";
    }
    &.inactive {
      color: $red;
      &:before { background: $red; }
    }
  }
  .project-last-updated {
    font-size: .8125rem;
    color: $gray;
  }
}

.project-description {
  width: 60%;
  @extend .mobile-col-1;
  height: inherit;

  > div.card {
    max-height: 9999px;
    transition: max-height 500ms;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      bottom: 0; left: 0; right: 0;
      height: 48px;
      content: "";
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
    }
  }
  &.collapsed > div.card {
    max-height: 206px;
  }
}

.project-milestones {
  width: 40%;
  @extend .mobile-col-1;
}

.browserupgrade {
  text-align: center;
  margin: 1em 15px;
}
