<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DC Capital Improvement Tracker</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700" type="text/css">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <div class="container">
        <a href="?" class="logo">
          <h1>DC Capital Improvement Tracker, a project by Code for DC</h1>
          <img src="images/logo.png" alt="">
        </a>
      </div>
    </header>

    <main>
      <section id="introduction">
        <div class="container">
          <div class="row">
            <div class="intro-text">
              <p>Every year, the <a href="http://cfo.dc.gov/">DC Office of the Chief Financial Officer</a> (OCFO) releases a plan for the next six years of investment in capital improvement projects like buildings and roads. Because this information has only ever been published in a non-open file format, it is difficult for DC residents to access this information and understand how these plans have changed over time.</p>
              <p>This <a href="http://codefordc.org">Code for DC</a> project scrapes (extracts) data from the OCFO capital improvement plans to make them searchable and comparable. Search for a project to find all of its details and to see how its cost and timeline have changed over time.</p>
            </div>
            <div class="quick-links">
              <div class="card">
                <h3>You might be interested in&hellip;</h3>
                <ul>
                  <li><a href="?agency=DISTRICT%20OF%20COLUMBIA%20PUBLIC%20SCHOOLS%20(GA0)">Schools</a></li>
                  <li><a href="?agency=DC%20PUBLIC%20LIBRARY%20(CE0)">Libraries</a></li>
                  <li><a href="?agency=DEPARTMENT%20OF%20PARKS%20AND%20RECREATION%20(HA0)">Parks, Pools, and Rec Centers</a></li>
                  <li><a href="?q=SHELTER&agency=DEPARTMENT%20OF%20HUMAN%20SERVICES%20(JA0)">Homeless Shelters</a></li>
                  <li><a href="?agency=DEPARTMENT%20OF%20TRANSPORTATION%20(KA0)">Transportation</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="index-view">

        <div class="container">
          <div class="controls">

            <div class="omnipresent">
              <nav><a href="#back" class="button button-back">Back</a></nav>

              <div class="search-bar">
                <input type="text" name="search" placeholder="Search" />
                <span class="search-icon"></span>
                <button class="clear-search">Clear search</button>
              </div>
            </div>

            <div class="filters">
              <select class="agency-filter" name="agency" data-placeholder="Filter by agency">
                <option value></option>
              </select>
              <select class="ward-filter" name="ward" data-placeholder="Filter by ward">
                <option value></option>
                <option value="1">Ward 1</option>
                <option value="2">Ward 2</option>
                <option value="3">Ward 3</option>
                <option value="4">Ward 4</option>
                <option value="5">Ward 5</option>
                <option value="6">Ward 6</option>
                <option value="7">Ward 7</option>
                <option value="8">Ward 8</option>
              </select>
              <input type="checkbox" id="hide-inactive" name="Hide inactive projects" value="hide-inactive" checked /> <label for="hide-inactive">Hide inactive projects</label>
            </div>

          </div>

          <div class="results">
            <div class="page-controls">
              <a class="first-page">First page</a>
              <a class="prev-page">Previous page</a>
              <span class="current-page">1</span>
              <a class="next-page">Next page</a>
              <a class="last-page">Last page</a>
            </div>
            <table>
              <thead>
                <tr>
                  <th name="title" class="title">Project</th>
                  <th name="agency" class="agency">Agency</th>
                  <th name="last_year" class="last-year">Last Year</th>
                  <th name="est_cost" class="cost">Est. Cost</th>
                  <th name="complete_percent" class="percent">% Complete</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
            <div class="page-prev-next">
              <a class="prev-page">Prev <span class="visually-hidden">page</span></a>
              <a class="next-page">Next <span class="visually-hidden">page</span></a>
            </div>
          </div>
        </div>
      </section>

      <section id="detail-view">
      </section>
    </main>

    <footer>
      <div class="container">
        <a href="https://github.com/codefordc/capital-improvement">Source Code</a> |
        <a href="https://raw.githubusercontent.com/codefordc/capital-improvement/master/LICENSE.txt">License</a> |
        <a href="https://raw.githubusercontent.com/codefordc/capital-improvement/master/app/data/data.json">Raw Data</a> |
        <a href="https://github.com/codefordc/capital-improvement/tree/master/pdfs">Original PDFs</a> |
        <a href="http://codefordc.org">Code for DC</a>
      </div>
    </footer>

    <script type="text/template" id="detail-view-template">
      <div class="container">

        <h2 class="project-title"><%= d.title %></h2>

        <div class="row">

          <div class="project-snapshot">
            <div class="project-photo card img-card">
              <% if (d.image) { %>
                <img src="images/project_images/<%= d.image %>" alt="">
              <% } %>
            </div>
            <div class="project-status">
              <span class="project-is-active <%= d.active ? 'active' : 'inactive' %>">
                <%= d.active ? 'Active' : 'Inactive' %>
              </span>
              <span class="project-last-updated">Last updated: <%= _(d.cip_history).keys().max() %></span>
            </div>
          </div>

          <% if (d.lat && d.lon) { %>
            <div class="project-map">
              <div class="card img-card">
                <div class="map">
                  <img src="https://api.mapbox.com/v4/mapbox.streets/pin-m+d25247(<%= d.lon %>,<%= d.lat %>)/<%= d.lon %>,<%= d.lat %>,14/330x265@2x.png?access_token=pk.eyJ1IjoiY21naXZlbiIsImEiOiJjaXEzdjJlaTUwMWg3Zmxub25mc3d6Y3lxIn0.GwleA4huw--Iyf6R6aZpaQ" alt="">
                  <span class="attribution">&copy; <a href='https://www.mapbox.com/map-feedback/'>Mapbox</a> and <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap contributors</a></span>
                </div>
              </div>
            </div>
          <% } %>

          <div class="project-summary">
            <div class="card">
              <table>
                <tbody>
                  <tr><th>Agency:</th><td><a href="?agency=<%= encodeURIComponent(d.agency) %>"><%= d.agency %></a></td></tr>
                  <tr><th>Implementing Agency:</th><td><%= d.implementing_agency %></td></tr>
                  <tr><th>Ward:</th><td>WARD <%= d.ward %></td></tr>
                  <tr><th>Location:</th><td><%= d.location %></td></tr>
                  <tr><th>Facility:</th><td><%= d.facility %></td></tr>
                  <tr><th>Status:</th><td><%= d.status %></td></tr>
                  <tr><th>Useful Life:</th><td><%= d.useful_life %> years</td></tr>
                  <tr><th>Est. Full Funding Cost:</th><td><%= DOLLAR_FORMAT(d.est_cost) %></td></tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="project-description collapsed">
            <div class="card">
              <h3>Description</h3>
              <p><%= d.description %></p>
              <h4>Justification</h4>
              <p><%= d.justification %></p>
              <h4>Progress Assessment</h4>
              <p><%= d.progress_assessment %></p>
              <h4>Related Projects</h4>
              <p><%= d.related_projects %></p>
              <button class="toggle-collapsed">Toggle expanded description</button>
            </div>
          </div>

          <div class="project-milestones">
            <div class="card">
              <h3>Milestones</h3>
              <table>
                <thead>
                  <tr><th></th><th>Projected</th><th>Actual</th>
                </thead>
                <tbody>
                  <tr><th>Environmental Approvals</th><td><%= _.get(d, 'milestones.environmental_approvals.projected') %></td><td><%= _.get(d, 'milestones.environmental_approvals.actual') %></td></tr>
                  <tr><th>Design Start</th><td><%= _.get(d, 'milestones.design_start.projected') %></td><td><%= _.get(d, 'milestones.design_start.actual') %></td></tr>
                  <tr><th>Design Complete</th><td><%= _.get(d, 'milestones.design_complete.projected') %></td><td><%= _.get(d, 'milestones.design_complete.actual') %></td></tr>
                  <tr><th>Construction Start</th><td><%= _.get(d, 'milestones.construction_start.projected') %></td><td><%= _.get(d, 'milestones.construction_start.actual') %></td></tr>
                  <tr><th>Construction Complete</th><td><%= _.get(d, 'milestones.construction_complete.projected') %></td><td><%= _.get(d, 'milestones.construction_complete.actual') %></td></tr>
                  <tr><th>Closeout</th><td><%= _.get(d, 'milestones.closeout.projected') %></td><td><%= _.get(d, 'milestones.closeout.actual') %></td></tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

        <div class="scroll-container">

          <div class="project-cumulative-funding">
            <div class="header pinned">
              <h3>Cumulative Funding</h3>
              <select name="category">
                <option value="total_funding">Total Funding</option>
                <optgroup label="Funding by Phase" class="funding_by_phase"></optgroup>
                <optgroup label="Funding by Source" class="funding_by_source"></optgroup>
              </select>
            </div>
            <div class="chart" role="presentation"></div>
            <div class="table">
              <table class="pinned" aria-hidden="true">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="proposed">
                    <th>Proposed</th>
                  </tr>
                  <tr class="allotted">
                    <th>Allotted</th>
                  </tr>
                  <tr class="balance sub">
                    <th>Balance</th>
                  </tr>
                  <tr class="spent sub">
                    <th>Spent</th>
                  </tr>
                </tbody>
              </table>
              <table class="data-table">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="proposed">
                    <th>Proposed</th>
                  </tr>
                  <tr class="allotted">
                    <th>Allotted</th>
                  </tr>
                  <tr class="balance sub">
                    <th>Balance</th>
                  </tr>
                  <tr class="spent sub">
                    <th>Spent</th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="project-historical-plans display-chart">
            <div class="header pinned">
              <h3>Historical Plans</h3>
              <form class="toggle" id="historical-plans-display">
                <input type="radio" name="display" id="display-chart" value="chart" checked="checked" />
                <label for="display-chart">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                  <span class="visually-hidden">Chart</span>
                </label>
                <input type="radio" name="display" id="display-table" value="table" />
                <label for="display-table">
                  <i class="fa fa-table" aria-hidden="true"></i>
                  <span class="visually-hidden">Table</span>
                </label>
              </form>
            </div>
            <div class="table">
              <table class="pinned" aria-hidden="true">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
              <div class="chart" role="presentation"></div>
              <table class="data-table">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/jquery.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/chosen/chosen.jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
